* {
  box-sizing:border-box;
}
html {
  height:100vh;
}
body {
  height:100vh;
  font-family: open sans;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#10214e;
}

article {
  width:50%;
  max-width:20em;
  min-width:22.5em;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-end;
  background: rgb(0,239,255);
  background: linear-gradient(0deg, rgba(0,239,255,1) 40%, #4e54c8 100%);
  box-shadow:0 0 20px 20px rgba(0,0,0,.1);
  border-radius:1rem
}
header {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  justify-content:flex-end;
}
h1 {
  margin:2rem 0 1rem;
  color: rgba(0,239,255,1);
}

h2 {
  
}
img {
  width:10em;
  border-radius:10em;
  border:5px solid #fff;
  box-shadow:0 0 2px 2px rgba(0,0,0,.2);
  position:relative;
  top:2rem;
}
dl {
  width:100%;
  background: rgb(255,255,255);
  
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "html-dd css-dd js-dd"
    "html-dt css-dt js-dt"
    ;
  justify-items:center;
  align-items:start;
  padding:5rem 0 3rem;
  margin-top: -3rem;
  margin-bottom: 0;
  text-align: center;
}
dt{
  font-weight: bold;
  border-top: 1px solid rgba(0,0,0,0.3);
  padding-top: .25rem;
  margin-top: .25rem;
}
dt:nth-of-type(1){ grid-area: html-dt; }
dt:nth-of-type(2){ grid-area: css-dt; transform: translateY(1rem);}
dt:nth-of-type(3){ grid-area: js-dt; }

dd {
  margin:0;
  padding-left:0.3rem
}
dd:nth-of-type(2){  transform: translateY(1rem);}
p { 
  margin:0
}
article > p {
  padding:3rem 2rem;
  margin-top: 0;
  background:rgba(255,255,255, 0.5);
  text-align:center;
  border-radius: 0 0 1rem 1rem
}